{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tommy</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="static/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
  </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Tommy Huynh</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Who I Am</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills & Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#me">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Tommy Huynh</div>
                <div class="intro-heading">Backend Web Developer</div>
            </div>

        </div>
    </header>

    <!-- About Me Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who I Am</h2>
                    <h3 class="section-subheading text-muted">
                      I am a recent graduate of the backend engineering course at The Iron Yard in Greenville, South Carolina.
                      Here I learned the skills and thought process of a web developer to overcome the challenges and obstacles this field can throw at me.

                    </h3>

                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-cyan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Some of the work I have accomplished during my time at TIY. Click on the images to read more about the application.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/portfolio/seekers-preview.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Seekers</h4>
                        <p class="text-muted">Final Project Application</p>
                    </div>
                    <br>
                    <div class="row text-center">
                      <a href="http://arcane-reef-60277.herokuapp.com/" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Live</button></a>
                      <a href="https://github.com/tdhuynh/final_project" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Code</button></a>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/portfolio/redditish-preview.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Reddit-Ish</h4>
                        <p class="text-muted">Reddit Clone Application</p>
                    </div>
                    <br>
                    <div class="row text-center">
                      <a href="http://redditish-tdhuynh.herokuapp.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Live</button></a>
                      <a href="https://github.com/tdhuynh/reddit_remake"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Code</button></a>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/portfolio/shorturl-preview.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>URL Shortener</h4>
                        <p class="text-muted">Bitly Clone Application</p>
                    </div>
                    <br>
                    <div class="row text-center">
                      <a href="http://urlshort-tdhuynh.herokuapp.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Live</button></a>
                      <a href="https://github.com/tdhuynh/url_shortener"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Code</button></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                </div>
            </div>
              <div class="row text-center">
                  <div class="col-md-3">
                      <img src="static/img/logos/python2.png" height='150px' width='150px' alt="Python logo">
                      <h3 class="section-subheading text-muted">Python</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="static/img/logos/django2.png" height='150px' width='150px' alt="Django logo">
                      <h3 class="section-subheading text-muted">Django</h3>

                  </div>
                  <div class="col-md-3">
                      <img src="static/img/logos/html.png" height='150px' width='150px' alt="HTML5 logo">
                      <h3 class="section-subheading text-muted">HTML5</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="static/img/logos/css2.png" height='150px' width='100px' alt="CSS3 logo">
                      <h3 class="section-subheading text-muted">CSS3</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="static/img/logos/elasticsearch2.png" height='150px' width='150px' alt="Elasticsearch logo">
                      <h3 class="section-subheading text-muted">Elasticsearch</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="static/img/logos/heroku2.png" height='150px' width='150px' alt="Heroku logo">
                      <h3 class="section-subheading text-muted">Heroku</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="static/img/logos/bootstrap-solid.svg" height='150px' width='150px' alt="Bootstrap logo">
                      <h3 class="section-subheading text-muted">Bootstrap</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="static/img/logos/semantic-ui.png" height='150px' width='150px' alt="Semantic UI logo">
                      <h3 class="section-subheading text-muted">Semantic UI</h3>
                  </div>
              </div>
              <div class="row text-center">
                <h2 class="section-heading">Resume</h2>
                <a href="static/tommydhuynh-resume.pdf" target='_blank' data-toggle="modal">
                  <button type="button" name="button" class="btn btn-primary btn-lg">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> View
                  </button>
                </a>
                <a href="https://docs.google.com/document/d/1M6lA-iEI5YV9ZzbCms4GYe7It0CC8UQTBSZUVE4J3ss/export?format=pdf">
                  <button type="button" class="btn btn-primary btn-lg">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download
                  </button>
                </a>
              </div>
            </div>
    </section>

    <!-- Me Section -->
    <section id="me" class="bg-light-cyan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Me</h2>
                    <h3 class="section-subheading text-muted">Get in touch with me.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <div class="team-member">
                        <img src="static/img/tommy.jpg" class="img-responsive img-circle" alt="">
                        <h4></h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/tommyhuynh93"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://github.com/tdhuynh"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/tommy-d-huynh"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row text-center">
              <ul class="list-inline social-buttons">
                <li>
                  <a href="#page-top"><i class='fa fa-angle-double-up'></i></a>
                </li>
              </ul>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <span class="copyright">Copyright &copy; Tommy Huynh 2016</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Seekers</h2>
                                <p class="item-intro text-muted"></p>
                                <img class="img-responsive img-centered" src="static/img/portfolio/seekers-preview.png" alt="">
                                <p>
                                  <a href="http://arcane-reef-60277.herokuapp.com/">Seekers</a> is a social platform for adopted people and their birth families to interact and potentially find each other.
                                  Users fill out a profile and can search for other profiles through keywords such as birth hospital and surnames.
                                  If a user has done genetic testing/analysis through <a href="https://www.23andme.com/">23 and Me</a>, he or she can import relative information to be displayed on their profile for all users to see.
                                </p>
                                <div class="row">
                                  <a href="http://arcane-reef-60277.herokuapp.com/" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Live</button></a>
                                  <a href="https://github.com/tdhuynh/final_project" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Code</button></a>
                                </div>
                                <br>
                                <div class="row">
                                  <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Reddit-Ish</h2>
                                <p class="item-intro text-muted"></p>
                                <img class="img-responsive img-centered" src="static/img/portfolio/redditish-preview.png" alt="">
                                <p>
                                  Reddit-Ish is an application created for an assignment based on <a href="https://www.reddit.com/">Reddit</a>.
                                </p>

                                <div class="row">
                                  <a href="http://redditish-tdhuynh.herokuapp.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Live</button></a>
                                  <a href="https://github.com/tdhuynh/reddit_remake"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Code</button></a>
                                </div>
                                <br>
                                <div class="row">
                                  <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="static/img/portfolio/shorturl-preview.png" alt="">
                                <p>
                                  URL Shortener is an application created for an assignment based off of <a href="https://bitly.com/">Bitly</a> where one can create shortened URL links to share across the Internet.
                                </p>
                                <div class="row">
                                  <a href="http://urlshort-tdhuynh.herokuapp.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Live</button></a>
                                  <a href="https://github.com/tdhuynh/url_shortener"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Code</button></a>
                                </div>
                                <br>
                                <div class="row">
                                  <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/agency.min.js"></script>

</body>

</html>
