{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tommy Huynh | Web Developer</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon-96x96.png' %}">

    <!-- Custom Fonts -->
    <link href="https://s3.amazonaws.com/tdh-portfolio/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

    <script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
  </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Tommy Huynh</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills & Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#me">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Tommy Huynh</div>
                <div class="intro-heading">Backend Web Developer</div>
            </div>

        </div>
    </header>

    <!-- About Me Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <div class="row">
                      <div class="col-sm-3 text-center">
                        <div class="team-member">
                          <img src="{% static 'img/tommy.jpg' %}" class="img-responsive img-circle" alt="">
                        </div>
                      </div>
                      <div class="col-sm-3 text-center">
                        <h4>Who I Am</h4>
                        <p class="text-muted">
                          I graduated from the University of South Carolina in 2015 with a degree in Exercise Science.
                          In 2016, I enrolled in the backend engineering course at The Iron Yard to pursue a career in programming.
                          Though rigorous, I grew to love coding even more throughout the course. I find the work I do challenging and rewarding.
                          I am an avid fan of video games, board games, and music.
                        </p>
                      </div>
                      <div class="col-sm-3 text-center">
                        <h4>What I Do</h4>
                        <p class="text-muted">
                          I have created many applications at The Iron Yard from a simple operations calculator to a profile-based search engine.
                          Though each project is of varying complexity, I bring each to life by utilizing the tools and skills I have learned.
                        </p>
                      </div>
                      <div class="col-sm-3 text-center">
                        <h4>Why I Do It</h4>
                        <p class="text-muted">
                          I enjoy solving problems. Just like in video games, you have objectives and goals to work for. Coding is no different.
                          Every mistake and setback is a new opportunity for me to learn and grow as a developer.
                          The satisfaction I get when I fix errors and bugs and create working code reminds me that programming is what I am passionate about.
                        </p>
                      </div>
                    </div><br><br>
                    <h2 class="section-heading">TL;DR</h2>
                    <h3 class="section-subheading text-muted">
                      I am a recent graduate of the backend engineering course at The Iron Yard in Greenville, South Carolina.
                      During my time there, I learned the skills to become a web developer. Programming puts me in the mindset I am eager to be in
                      by challenging me and fostering the enjoyment of finding answers to problems.
                      <br><br>

                      I have experience in backend development including Python, Django, object-oriented and functional-based programming, and RESTful APIs.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-cyan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Some of the work I have accomplished.
                      <br>
                       Click on the images to read more about the application.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/seekers-preview.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Seekers</h4>
                        <p class="text-muted">Final Project Application</p>
                    </div>

                    <br>
                    <div class="row text-center">
                      <a href="http://arcane-reef-60277.herokuapp.com/" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Live</button></a>
                      <a href="https://github.com/tdhuynh/final_project" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Code</button></a>
                      <br><br>
                      <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-play "></i> Video Demo</button></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/redditish-preview.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Reddit-Ish</h4>
                        <p class="text-muted">Reddit Clone Application</p>
                    </div>
                    <br>
                    <div class="row text-center">
                      <a href="http://redditish-tdhuynh.herokuapp.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Live</button></a>
                      <a href="https://github.com/tdhuynh/reddit_remake"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Code</button></a>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/shorturl-preview.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>URL Shortener</h4>
                        <p class="text-muted">Bitly Clone Application</p>
                    </div>
                    <br>
                    <div class="row text-center">
                      <a href="http://urlshort-tdhuynh.herokuapp.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Live</button></a>
                      <a href="https://github.com/tdhuynh/url_shortener"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Code</button></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Tools utilized in my applications.</h3>
                </div>

            </div>
              <div class="row text-center">
                  <div class="col-md-3">
                      <img src="{% static 'img/logos/python2.png' %}" height='150px' width='150px' alt="Python logo">
                      <h3 class="section-subheading text-muted">Python</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="{% static 'img/logos/django2.png' %}" height='150px' width='150px' alt="Django logo">
                      <h3 class="section-subheading text-muted">Django</h3>

                  </div>
                  <div class="col-md-3">
                      <img src="{% static 'img/logos/html.png' %}" height='150px' width='150px' alt="HTML5 logo">
                      <h3 class="section-subheading text-muted">HTML5</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="{% static 'img/logos/css2.png' %}" height='150px' width='100px' alt="CSS3 logo">
                      <h3 class="section-subheading text-muted">CSS3</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="{% static 'img/logos/elasticsearch2.png' %}" height='150px' width='150px' alt="Elasticsearch logo">
                      <h3 class="section-subheading text-muted">Elasticsearch</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="{% static 'img/logos/heroku2.png' %}" height='150px' width='150px' alt="Heroku logo">
                      <h3 class="section-subheading text-muted">Heroku</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="{% static 'img/logos/bootstrap-solid.svg' %}" height='150px' width='150px' alt="Bootstrap logo">
                      <h3 class="section-subheading text-muted">Bootstrap</h3>
                  </div>
                  <div class="col-md-3">
                      <img src="{% static 'img/logos/semantic-ui.png' %}" height='150px' width='150px' alt="Semantic UI logo">
                      <h3 class="section-subheading text-muted">Semantic UI</h3>
                  </div>
              </div>
              <div class="row text-center">
                <h2 class="section-heading">Resume</h2>
                <a href="{% static 'tommydhuynh-resume.pdf' %}" target='_blank' data-toggle="modal">
                  <button type="button" name="button" class="btn btn-primary btn-lg">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> View
                  </button>
                </a>
                <a href="https://docs.google.com/document/d/1M6lA-iEI5YV9ZzbCms4GYe7It0CC8UQTBSZUVE4J3ss/export?format=pdf">
                  <button type="button" class="btn btn-primary btn-lg">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download
                  </button>
                </a>
              </div>
            </div>
    </section>

    <!-- Me Section -->
    <section id="me" class="bg-light-cyan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                </div>
            </div><br>
            <div class="row text-center">
              <ul class="list-inline social-buttons">
                  <li>
                    <a href="mailto:tommyhuynh93@gmail.com?subject=Hi Tommy, I would love to chat!"><i class="fa fa-envelope fa-3x"></i></a>
                  </li>
                  <li><a href="https://twitter.com/tommyhuynh93"><i class="fa fa-twitter fa-3x"></i></a>
                  </li>
                  <li><a href="https://github.com/tdhuynh"><i class="fa fa-github fa-3x"></i></a>
                  </li>
                  <li><a href="https://www.linkedin.com/in/tommy-d-huynh"><i class="fa fa-linkedin fa-3x"></i></a>
                  </li>
              </ul>
            </div>
            <br>
            <div class="row text-center">
              <ul class="list-inline" style="height:40px width:40px">
                <li>
                  <a href="#page-top"><i class='fa fa-angle-double-up fa-5x'></i></a>
                </li>
              </ul>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <span class="copyright">Copyright &copy; Tommy Huynh 2016</span>
                </div>
            </div>
        </div>
    </footer>


    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Seekers</h2>
                                <p class="item-intro text-muted">
                                  <a href="http://arcane-reef-60277.herokuapp.com/">Seekers</a> is a social platform for adopted people and their birth families to interact and potentially find each other.
                                  Users fill out a profile and can search for other profiles through keywords such as birth hospital and surnames.
                                  If a user has done genetic testing/analysis through <a href="https://www.23andme.com/">23 and Me</a>, he or she can import relative information to be displayed on their profile for all users to see.

                                </p>
                                <img class="img-responsive img-centered" src="{% static 'img/portfolio/seekers-preview.png' %}" alt="">
                                <p>
                                  Featured Tools: Django Haystack, Elasticsearch, Python Social Auth, 23andMe API, Amazon S3, Semantic UI
                                </p>
                                <div class="row">
                                  <a href="http://arcane-reef-60277.herokuapp.com/" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Live</button></a>
                                  <a href="https://github.com/tdhuynh/final_project" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Code</button></a>
                                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-play "></i> Video Demo</button></a>
                                </div>
                                <br>
                                <div class="row">
                                  <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Reddit-Ish</h2>
                                <p class="item-intro text-muted">
                                  Reddit-Ish is an application created for an assignment based on <a href="https://www.reddit.com/">Reddit</a>.
                                  It was created with emphasis on class-based views and foreign key relationships. Bootstrap is used
                                  as the CSS framework.
                                </p>
                                <img class="img-responsive img-centered" src="{% static 'img/portfolio/redditish-preview.png' %}" alt="">
                                <p>
                                  Featured Tools: Python, Django, Bootstrap
                                </p>

                                <div class="row">
                                  <a href="http://redditish-tdhuynh.herokuapp.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Live</button></a>
                                  <a href="https://github.com/tdhuynh/reddit_remake"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Code</button></a>
                                </div>
                                <br>
                                <div class="row">
                                  <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>URL Shortener</h2>
                                <p class="item-intro text-muted">
                                  URL Shortener is an application created for an assignment based off of <a href="https://bitly.com/">Bitly</a> where one can create shortened URL links to share across the Internet.
                                  It features class-based views and Bootstrap as the CSS framework. Users to set their created links to public or private.
                                </p>
                                <img class="img-responsive img-centered" src="{% static 'img/portfolio/shorturl-preview.png' %}" alt="">
                                <p>
                                  Featured Tools: Python, Django, Bootstrap
                                </p>
                                <div class="row">
                                  <a href="http://urlshort-tdhuynh.herokuapp.com/"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Live</button></a>
                                  <a href="https://github.com/tdhuynh/url_shortener"><button type="button" class="btn btn-primary btn-lg" target="_blank">View Code</button></a>
                                </div>
                                <br>
                                <div class="row">
                                  <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Seekers</h2>
                                <div class="row text-center">
                                  <video id="my-video" class="video-js" controls preload="auto" width="720" height="512"
                                    poster="{% static 'img/portfolio/seekers-preview.png' %}" data-setup="{}">
                                      <source src="{% static 'video/demodayrecording.mp4' %}" type='video/mp4'>
                                      <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                      </p>
                                    </video>
                                </div><br>
                                <div class="row">
                                  <a href="http://arcane-reef-60277.herokuapp.com/" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Live</button></a>
                                  <a href="https://github.com/tdhuynh/final_project" target="_blank"><button type="button" class="btn btn-primary btn-lg">View Code</button></a>
                                </div>
                                <br>
                                <div class="row">
                                  <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/agency.min.js' %}"></script>
    <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>

</body>

</html>
